	.CFUserTextEncoding
	.android/
	.bash_profile
	.cache/
	.config/
	.cryptoplugin/
	.eclipse/
	.gitconfig
	.lesshst
	.p2/
	.ssh/
	.vscode/
	.zsh_history
	.zsh_sessions/
	Demoproject/
	Desktop/
	Documents/
	Downloads/
	HelloWorld.class
	HelloWorld.java
	Library/
	Movies/
	Music/
	Pictures/
	Public/
	eclipse-workspace/
	eclipse/
	git-demo/
